<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>            
           <div class="form-error">            
            <%= message %>            
           </div>            
           <% end %>
      <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
        <p>ユーザー名</p>
       <input name="name" value="<%= @user.name %>">
      
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">  
        <p>パスワード</p>
        <input name="password" type="password" value="<%= @user.password %>">     
        <p>
        <input name="image" type="file">    
        </p>    
        <p>
         <input type="submit" value="保存">
        </p>
        <%end%>
      </div>
    </div>
  </div>
</div>