<div class="main user-show">
  <div class="container">
    <div class="user">
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>
    
     <img src="<%= "/user_images/#{@user.image_name}" %>">       
     <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p><%= @user.password%></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to "削除", :user,method: :delete,data:{confirm:"本当に削除しますか？"} %>
      <% end %>
       
      
    </div>
  </div>
</div>