    <h3>ルーム編集</h3>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <table>
       　　<input name="room" value="<%= @post.room %>">
       　　<input name="introduce" value="<%= @post.introduce %>">
       　　<input name="address" value="<%= @post.address %>">
       　　<input name="fee" value="<%= @post.fee %>">
       　　<input name="image" type="file">   
    　 </table>
      <div>
        <ul>
          <input type="submit" value="保存">
    <% end %>
          <li><%= link_to "ルーム一覧に戻る", :posts%></li>
        </ul>
      </div>

   
    

     